In [1]:
import os
import pandas as pd

In [13]:
# function for cumulative csv file reader
def read_file(location):
    with open(os.path.expanduser(location), "r") as file:
        return pd.read_csv(file, sep=",")

In [14]:
# loading the dataset
df = read_file("/Users/guillermocomesanacimadevila/Desktop/Hypetension/Data/hypertension_dataset.csv")

In [4]:
df

,Country,Age,BMI,Cholesterol,Systolic_BP,Diastolic_BP,Smoking_Status,Alcohol_Intake,Physical_Activity_Level,Family_History,...,Sleep_Duration,Heart_Rate,LDL,HDL,Triglycerides,Glucose,Gender,Education_Level,Employment_Status,Hypertension
0,UK,58,29.5,230,160,79,Never,27.9,Low,Yes,...,6.1,80,100,75,72,179,Female,Primary,Unemployed,High
1,Spain,34,36.2,201,120,84,Never,27.5,High,Yes,...,9.8,56,77,47,90,113,Male,Secondary,Unemployed,High
2,Indonesia,73,18.2,173,156,60,Current,1.8,High,Yes,...,5.2,75,162,56,81,101,Male,Primary,Employed,Low
3,Canada,60,20.3,183,122,94,Never,11.6,Moderate,Yes,...,7.5,71,164,93,94,199,Female,Secondary,Retired,High
4,France,73,21.8,296,91,97,Never,29.1,Moderate,Yes,...,5.0,52,108,74,226,157,Female,Primary,Employed,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174977,India,51,39.4,266,174,82,Never,10.3,Low,Yes,...,9.5,96,172,72,100,95,Female,Tertiary,Employed,Low
174978,Australia,89,39.0,243,104,94,Never,7.2,Moderate,Yes,...,6.2,63,81,66,140,124,Female,Primary,Employed,High
174979,India,43,36.5,266,109,98,Former,22.9,Low,Yes,...,10.0,62,139,39,93,71,Male,Secondary,Employed,High
174980,Germany,48,18.3,294,134,84,Never,15.3,High,No,...,4.7,53,112,37,57,87,Male,Primary,Retired,High
174981,Argentina,27,22.6,205,111,96,Former,27.4,Moderate,No,...,5.1,69,180,54,124,89,Female,Tertiary,Retired,High

In [12]:
print(f"The corresponding dataset has {df.shape[0]} rows and {df.shape[1]} columns")

The corresponding dataset has 174982 rows and 23 columns

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174982 entries, 0 to 174981
Data columns (total 23 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Country                  174982 non-null  object
 1   Age                      174982 non-null  int64
 2   BMI                      174982 non-null  float64
 3   Cholesterol              174982 non-null  int64
 4   Systolic_BP              174982 non-null  int64
 5   Diastolic_BP             174982 non-null  int64
 6   Smoking_Status           174982 non-null  object
 7   Alcohol_Intake           174982 non-null  float64
 8   Physical_Activity_Level  174982 non-null  object
 9   Family_History           174982 non-null  object
 10  Diabetes                 174982 non-null  object
 11  Stress_Level             174982 non-null  int64
 12  Salt_Intake              174982 non-null  float64
 13  Sleep_Duration           174982 non-null  float64
 14  Heart_Rate               174982 non-null  int64
 15  LDL                      174982 non-null  int64
 16  HDL                      174982 non-null  int64
 17  Triglycerides            174982 non-null  int64
 18  Glucose                  174982 non-null  int64
 19  Gender                   174982 non-null  object
 20  Education_Level          174982 non-null  object
 21  Employment_Status        174982 non-null  object
 22  Hypertension             174982 non-null  object
dtypes: float64(4), int64(10), object(9)
memory usage: 30.7+ MB

In [17]:
df.describe() .T # descriptive statistics

,count,mean,std,min,25%,50%,75%,max
Age,174982.0,53.493319,20.786353,18.0,36.0,54.0,71.0,89.0
BMI,174982.0,27.494672,7.213866,15.0,21.2,27.5,33.7,40.0
Cholesterol,174982.0,224.539335,43.361589,150.0,187.0,225.0,262.0,299.0
Systolic_BP,174982.0,134.505229,26.019268,90.0,112.0,135.0,157.0,179.0
Diastolic_BP,174982.0,89.450315,17.310789,60.0,74.0,89.0,104.0,119.0
Alcohol_Intake,174982.0,14.991069,8.652624,0.0,7.5,15.0,22.5,30.0
Stress_Level,174982.0,5.013041,2.582341,1.0,3.0,5.0,7.0,9.0
Salt_Intake,174982.0,8.482757,3.750074,2.0,5.2,8.5,11.7,15.0
Sleep_Duration,174982.0,6.996468,1.730731,4.0,5.5,7.0,8.5,10.0
Heart_Rate,174982.0,74.495085,14.438573,50.0,62.0,74.0,87.0,99.0
LDL,174982.0,129.528271,34.635795,70.0,100.0,130.0,160.0,189.0
HDL,174982.0,64.573105,20.190666,30.0,47.0,65.0,82.0,99.0
Triglycerides,174982.0,149.569836,57.765006,50.0,100.0,150.0,200.0,249.0
Glucose,174982.0,134.488187,37.526882,70.0,102.0,134.0,167.0,199.0

In [22]:
# missing vals?
missing_values = df.isnull().sum()
missing_percentage = (missing_values / len(df)) * 100
missing_data = pd.DataFrame({"Missing Values": missing_values, "Percentage (%)": missing_percentage})

In [23]:
missing_data

                         Missing Values  Percentage (%)
Country                               0             0.0
Age                                   0             0.0
BMI                                   0             0.0
Cholesterol                           0             0.0
Systolic_BP                           0             0.0
Diastolic_BP                          0             0.0
Smoking_Status                        0             0.0
Alcohol_Intake                        0             0.0
Physical_Activity_Level               0             0.0
Family_History                        0             0.0
Diabetes                              0             0.0
Stress_Level                          0             0.0
Salt_Intake                           0             0.0
Sleep_Duration                        0             0.0
Heart_Rate                            0             0.0
LDL                                   0             0.0
HDL                                   0             0.0
Triglycerides                         0             0.0
Glucose                               0             0.0
Gender                                0             0.0
Education_Level                       0             0.0
Employment_Status                     0             0.0
Hypertension                          0             0.0

In [24]:
missing_data = missing_data[missing_data["Missing Values"] > 0].sort_values(by = "Percentage (%)", ascending = False)

In [26]:
missing_data # no need for cleaning!

Empty DataFrame
Columns: [Missing Values, Percentage (%)]
Index: []